
/*div*/
div {
    	margin: 70px;
}

/*Formats HTML document body*/
body {
	background-color: #e8de96;
	/*background: linear-gradient(#f7de85, #f2cb41);*/
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 15px;
	padding-right: 15px;

}

/*Formats h1 heading size images*/
h1 img{
	height: 12.5%;
	width: 12.5%;
	color: red;
	font-weight: bold;
	font-family: "Papyrus", Times, serif;
}

/*Formats elements that have an h1 heading size*/
h1{
	color: red;
	font-weight: bold;
	font-family: "Papyrus", Times, serif;
}

/*App heading on home page*/
.appHeading{
	
	margin-left: 7.5%;
}

/*Account sign-out button*/
#signOutButton.AccountButtons{
	position: relative;
	float: right;
}

/*Login message*/
#loginmsg {
	
	font-size: 15px;
	float: right;
}

/*Hours of Operation (Home page)*/
.hoursofOperation{
	float: left;
	margin-right: 21%;
	margin-top: 0%;
	font-size: 20px;
	font-family: "verdana";
}

/*Formats the interaction between the app heading and hours of operation photo*/
.appHeading, .hoursofOperation{
	display: inline-block;
}

/*Formats "About" page text*/
p, h1.about_us_text {
	color: black;
	font-weight: normal;
	font-family: "Helvetica", Times, serif;
	font-size: 25px;
}

/*Formats an image of a dining hall*/
#dininghall img{
	margin-top: -10%;
	height: 60%;
	width: 35%;
	position: absolute;
	
}

/*Formats hours of operation image*/
#hours img{
	margin-top:-10%;
	height: 60%;
	width: 30%;
	position: absolute;
	right: 7.5%;
	float: right;

}

/*About page section titles*/
#AboutTitles{
	font-family: "verdana";
}

/*Formats interaction between dining hall and hours image*/
#dininghall img, #hours img{
	display: inline-block;
}

/*Formats buttons that are part of the "menuButtons" class*/
.MenuButtons
{
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

/*If the user hovers over one of the "menuButtons"*/
.MenuButtons:hover{
	border: 1px solid black;
}

/*Footers on the menu, login, and about pages*/
.footer{
	position: absolute;
	left: 50%;
	margin-top: 25%;
	margin-left:-150px;
	text-align: center;
}

/*Footer on the home page*/
.homefooter{
	position: absolute;
	left: 50%;
	margin-top: 25%;
	margin-left:-150px;
	text-align: center;
}

/*Formats elements that are part of the "input-group" class*/
.input-group, .input-group p{
	margin: auto;
}


/* Styles the tabs */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tabs*/
.tab button {
    background-color: inherit;
    float: left;
	border: 1px solid grey;
    outline: none;
    cursor: pointer;
	width: 25%;
    padding: 15px 15px;
    transition: 0.3s;
    font-size: 20px;
	font-family: "Helvetica", Times, serif;
	
}
/*If the user hovers over one of the universal links*/
.tab button:hover {
    background-color: #bf1f16;
	color: white;
	
}

/*Styles the tabs when the user is on a certain page*/
.tab button.active {
    color: white;
    background-color: #bf1f16;
}

/*Style the tab content*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/*Formats elements in the "panel-title" class*/
.panel-title{
	font-weight: bold;
	font-size: 20px;
	color: white;
	font-family: "Baskerville", Times, serif;
	background-color: #bf1f16;
	padding: 10px;
	width: 40%;
	
}

/*Formats elements in the "panel-body" class*/
.panel-body{
	font-family: "Baskerville", Times, serif;
	padding-bottom: 2px;
	padding-left:-2px;
	
}

/*Formats divs in the "panel-body" class*/
div .panel-body{
	font-family: "Baskerville", Times, serif;
	background: linear-gradient(#f4cc4b, #ed3f23);
	
}

/*If the user has not selected a checkbox*/
checkbox:focus:invalid {
  border: 2px solid red;
}

/*If the user hovers over an invalid input field*/
input:hover:invalid {
  border: 2px solid red;
}

/*If the user focuses over an invalid input field*/
input:focus:invalid {
  border: 2px solid red;
}

/*If the input field is valid*/
input:valid {
  border: 1px solid black;
}

/*Formats buttons in the "AccountButtons" class*/
.AccountButtons
{
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #bf1f16;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

/*If the user hovers over an "AccountButtons" button*/
.AccountButtons:hover{
	border: 1px solid black;
}

/*Styles divs associated with the "signupbox" id and the "panel-body" & "input-group" classes*/
div #signupbox .panel-body .input-group{
	text-align: center-left;
	display: block;
	position: relative;

}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
