html{
	
}
div {
    	margin: 70px;
}

body {
	background-color: #e8de96;
	/*background: linear-gradient(#f7de85, #f2cb41);*/
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 15px;
	padding-right: 15px;

}

h1 img{
	height: 12.5%;
	width: 12.5%;
	color: red;
	font-weight: bold;
	font-family: "Papyrus", Times, serif;
}

h1{
	color: red;
	font-weight: bold;
	font-family: "Papyrus", Times, serif;
}

.appHeading{
	
	margin-left: 7.5%;
}

#signOutButton.AccountButtons{
	position: relative;
	float: right;
}

#loginmsg {
	
	font-size: 15px;
	float: right;
}


.hoursofOperation{
	float: left;
	margin-right: 21%;
	margin-top: 0%;
	font-size: 20px;
	font-family: "verdana";
}

.appHeading, .hoursofOperation{
	display: inline-block;
}

p, h1.about_us_text {
	color: black;
	font-weight: normal;
	font-family: "Helvetica", Times, serif;
	font-size: 25px;
}


#dininghall img{
	margin-top: -10%;
	height: 60%;
	width: 35%;
	position: absolute;
	
}

#hours img{
	margin-top:-10%;
	height: 60%;
	width: 30%;
	position: absolute;
	right: 7.5%;
	float: right;

}
#AboutTitles{
	font-family: "verdana";
}

#dininghall img, #hours img{
	display: inline-block;
}

.MenuButtons
{
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

.MenuButtons:hover{
	border: 1px solid black;
}

.footer{
	position: absolute;
	left: 50%;
	margin-top: 25%;
	margin-left:-150px;
	text-align: center;
}

.homefooter{
	position: absolute;
	left: 50%;
	margin-top: 25%;
	margin-left:-150px;
	text-align: center;
}

.input-group, .input-group p{
	margin: auto;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
	border: 1px solid grey;
    outline: none;
    cursor: pointer;
	width: 25%;
    padding: 15px 15px;
    transition: 0.3s;
    font-size: 20px;
	font-family: "Helvetica", Times, serif;
	
}
/* Change background color of buttons on hover */


.tab button:hover {
    background-color: #bf1f16;
	color: white;
	
}

/*
.tab button:focus {
    background-color: #bf1f16;
	color: white;
	
}
*/

mark.warm{
	color: #d19304;
	background: none;
}

 /*Create an active/current tablink class*/
.tab button.active {
    color: white;
    background-color: #bf1f16;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.panel-title{
	font-weight: bold;
	font-size: 20px;
	color: white;
	font-family: "Baskerville", Times, serif;
	background-color: #bf1f16;
	padding: 10px;
	width: 40%;
	
}

.panel-body{
	font-family: "Baskerville", Times, serif;
	padding-bottom: 2px;
	padding-left:-2px;
	
}

div .panel-body{
	font-family: "Baskerville", Times, serif;
	background: linear-gradient(#f4cc4b, #ed3f23);
	
}

checkbox:focus:invalid {
  border: 2px solid red;
}

input:hover:invalid {
  border: 2px solid red;
}

input:focus:invalid {
  border: 2px solid red;
}

input:valid {
  border: 1px solid black;
}

.AccountButtons
{
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #bf1f16;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

.AccountButtons:hover{
	border: 1px solid black;
}

div #signupbox .panel-body .input-group{
	text-align: center-left;
	display: block;
	position: relative;

}

/*
.panel-heading{
    padding-bottom: -2px;
	padding-top: -2px;
	padding-left:-10px;
	padding-right:-10px;
	
}

*/

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
